*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties


/DataBindingDemo/.gradle
/DataBindingDemo/local.properties
/DataBindingDemo/.idea/caches
/DataBindingDemo/.idea/libraries
/DataBindingDemo/.idea/modules.xml
/DataBindingDemo/.idea/workspace.xml
/DataBindingDemo/.idea/navEditor.xml
/DataBindingDemo/.idea/assetWizardSettings.xml
/DataBindingDemo/.DS_Store
/DataBindingDemo/build
/DataBindingDemo/captures
/DataBindingDemo/.externalNativeBuild
/DataBindingDemo/.cxx
/DataBindingDemo/local.properties


/DataBindingDemo-Imports/.gradle
/DataBindingDemo-Imports/local.properties
/DataBindingDemo- Imports/.idea/caches
/DataBindingDemo- Imports/.idea/libraries
/DataBindingDemo- Imports/.idea/modules.xml
/DataBindingDemo- Imports/.idea/workspace.xml
/DataBindingDemo- Imports/.idea/navEditor.xml
/DataBindingDemo- Imports/.idea/assetWizardSettings.xml
/DataBindingDemo- Imports/.DS_Store
/DataBindingDemo- Imports/build
/DataBindingDemo- Imports/captures
/DataBindingDemo- Imports/.externalNativeBuild
/DataBindingDemo- Imports/.cxx
/DataBindingDemo- Imports/local.properties

/DataBindingDemo-Variables/.gradle
/DataBindingDemo-Variables/local.properties
/DataBindingDemo-Variables/.idea/caches
/DataBindingDemo-Variables/.idea/libraries
/DataBindingDemo-Variables/.idea/modules.xml
/DataBindingDemo-Variables/.idea/workspace.xml
/DataBindingDemo-Variables/.idea/navEditor.xml
/DataBindingDemo-Variables/.idea/assetWizardSettings.xml
/DataBindingDemo-Variables/.DS_Store
/DataBindingDemo-Variables/build
/DataBindingDemo-Variables/captures
/DataBindingDemo-Variables/.externalNativeBuild
/DataBindingDemo-Variables/.cxx
/DataBindingDemo-Variables/local.properties

/DataBindingDemo-BindingAdapters/.gradle
/DataBindingDemo-BindingAdapters/local.properties
/DataBindingDemo-BindingAdapters/.idea/caches
/DataBindingDemo-BindingAdapters/.idea/libraries
/DataBindingDemo-BindingAdapters/.idea/modules.xml
/DataBindingDemo-BindingAdapters/.idea/workspace.xml
/DataBindingDemo-BindingAdapters/.idea/navEditor.xml
/DataBindingDemo-BindingAdapters/.idea/assetWizardSettings.xml
/DataBindingDemo-BindingAdapters/.DS_Store
/DataBindingDemo-BindingAdapters/build
/DataBindingDemo-BindingAdapters/captures
/DataBindingDemo-BindingAdapters/.externalNativeBuild
/DataBindingDemo-BindingAdapters/.cxx
/DataBindingDemo-BindingAdapters/local.properties