*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties


/DataBindingDemo/.gradle
/DataBindingDemo/local.properties
/DataBindingDemo/.idea/caches
/DataBindingDemo/.idea/libraries
/DataBindingDemo/.idea/modules.xml
/DataBindingDemo/.idea/workspace.xml
/DataBindingDemo/.idea/navEditor.xml
/DataBindingDemo/.idea/assetWizardSettings.xml
/DataBindingDemo/.DS_Store
/DataBindingDemo/build
/DataBindingDemo/captures
/DataBindingDemo/.externalNativeBuild
/DataBindingDemo/.cxx
/DataBindingDemo/local.properties